/* for media-querry in about page */
@media (max-width:1200px) {
    .main-heading h2 {
        font-size: 24px;
        text-align: start;
    }

    .div_mediaquerry div {
        height: 200px;
        margin-top: 12px;
    }

    .webtags h3 {
        font-size: 18px;
    }
}

@media (max-width:992px) {
    .welcome-section .welcome-quote {
        margin-top: 10px;
    }

    .webinformation .weblink .webtags {
        height: 140px;
    }

    .div_mediaquerry div {
        height: 160px;
    }
}

@media (max-width:576px) {

    .main-heading p {
        font-size: 17px;
    }

    .my-purpose {
        align-items: start;
    }

    .purpose-modal {
        height: 200px;
        flex-direction: column;
    }

    .purpose-content span {
        font-size: 16px;
        text-align: center;
    }

    .div_mediaquerry div {
        height: 100px;
    }
}

@media (max-width:768px) {
    .purpose-modal {
        width: 80%;
        max-height: 60vh;
    }

    .purpose-header {
        padding: 0.5rem;
    }

    .purpose-content p {
        font-size: 16px;
    }

    .div_mediaquerry div {
        margin-top: 10px;
        padding: 8px 12px 2px 12px;
        height: 120px;
    }

    .div_mediaquerry div p {
        margin-top: 2px;
    }

    .webinformation .weblink .webtags {
        height: 150px;
    }

    .webinformation .weblink {
        margin-top: 8px;
    }
}

@media (max-width:490px) {
    .purpose-modal {
        height: 290px;
    }

    .div_mediaquerry div {
        margin-top: 10px;
        height: 150px;
        padding: 2px;
    }
}