/* for phone screens */

@media (max-width:768px) {
    .sidebar {
        display: none;
    }

    .navbar {
        display: block;
    }

    .sidebarToggle {
        display: none;
    }

    .main-content {
        margin-top: 25px;
    }

    .main-content h2 {
        font-size: 22px;
    }

    .main-content p {
        font-size: 15px;
    }
}