/* media querry for views */

@media (max-width:576px) {

    .usersviews textarea,
    .replydiv textarea {
        /* field-sizing: content; */
        width: 90%;
        height: 60px;
    }

    .displayuserviews {
        margin-top: 20px;
    }

    .infoaboutviews,
    span {
        font-size: 20px;
    }
}