@media (max-width:576px) {

    .kalakro .content .artist-img {
        width: 50%;
    }

    .kalakro .content .artist-img img {
        width: 210px;
        height: 190px;
    }

    .kalakro .artists-content a {
        font-size: 18px;
    }
}

/*for more smaller phones */
@media (max-width:490px) {
    .kalakro .content .artist-img img {
        width: 160px;
        height: 140px;
    }

    .kalakro .artists-content {
        display: flex;
        justify-content: center;
    }

    .kalakro .artists-content a {
        font-size: 18px;
    }

    footer {
        margin-top: 20px;
        background-color: rgb(81, 78, 78);
        padding: 8px;
        border-radius: 4px;
    }

    footer a {
        color: white;
    }
}