/* this media-querry artists */
@media (max-width:400px) {
    .kalakro .artist-img img {
        width: 140px;
        height: 130px;
    }

    .artists-content a {
        font-size: 16px;
    }
}

@media (max-width:576px) {
    .kalakro .artist-img {
        width: 50%;
    }
}