:root {
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

.kalakro {
    margin-top: 24px;
}

/* artists-images css */
/* howto use css */
.kalakro .artist-img img {
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.kalakro .artist-img:hover img {
    transform: scale(1.1);
}

.kalakro .artist-img img:nth-child(1) {
    width: 240px;
    height: 225px;
}

/* artist-contnet css */
.kalakro .artists-content a {
    color: var(--black);
    font-size: 20px;
}

/* search css */
.search-section .search-sec form input[type="text"] {
    border-radius: 10px;
    text-align: center;
}

/* dropdown for kalakars css */
.sort-artsits select,
.sort-artsits input[type="submit"] {
    margin-top: 15px;
    border-radius: 8px;
    padding: 0 12px 0 12px;
}

/* search suggestions css */
.jsfunctions .show-suggestions {
    max-width: 340px;
    margin-top: 5px;
    padding: 5px;
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.83);
    color: white;
    border-radius: 8px;
}

.jsfunctions.show-suggestions div {
    padding: 4px;
    cursor: pointer;
}

.suggestion-item {
    padding: 4px;
    cursor: pointer;
    border-radius: 8px;
}

.show-suggestions div:hover {
    background-color: #f0f0f0;
    color: rgba(0, 0, 0, 0.741);
}

.jsfunctions .no-result,
.jsfunctions .show-suggestions {
    display: none;
}

footer {
    margin-top: 20px;
    background-color: rgb(81, 78, 78);
    padding: 15px;
}

footer a {
    color: white;
}