a {
    text-decoration: none;
    color: white;
    display: block;
}

/* search suggestions css */
.show-suggestions {
    width: 200px;
    position: absolute;
    left: 130px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.788);
}

.show-suggestions a {
    padding: 4px;
    cursor: pointer;
}

.show-suggestions {
    display: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* search section css */
.search-sec {
    position: relative;
}

.search-sec i {
    position: absolute;
    left: 270px;
    top: 4px;
}

.search-section {
    margin-top: 10px;
    margin-left: 10px;
}

.search-section .search-sec form input[type="text"] {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 300px;
}

.borderstyle {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.search-section .search-sec form input[type="text"]::placeholder {
    padding-left: 20px;
}

/* feedback when searchnotfound  css*/
.feedback-section {
    margin-top: 60px;
}

.feedback-section .feedbackdiv textarea {
    width: 400px;
    height: 100px;
}

.feedback-section .feedbackdiv {
    display: flex;
    justify-content: center;
}

.feedbackbtns i:first-child {
    margin-left: 35%;
    font-size: 18px;
}

.feedbackbtns i:last-child {
    margin-left: 15px;
    font-size: 25px;
}

.msg h1 {
    text-align: center;
    font-weight: normal;
}

.msgdiv {
    display: flex;
    justify-content: center;
}

.msgdiv {
    position: fixed;
    top: 30px;
    right: 800px;
    background-color: #323232;
    color: white;
    padding: 6px 14px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.3s;
}

.msgdiv.hide {
    opacity: 0;
    transform: translateY(20px);
}