/* i know this sucks but i'll find out way */

@media (min-width:1354px) {
    .show-suggestions {
        left: 150px;
    }
}

@media (min-width:1560px) {
    .show-suggestions {
        left: 170px;
    }
}

@media (min-width:1610px) {
    .show-suggestions {
        left: 190px;
    }
}

@media (min-width:1660px) {
    .show-suggestions {
        left: 210px;
    }
}

@media (min-width:1700px) {
    .show-suggestions {
        left: 220px;
    }
}

@media (min-width:1720px) {
    .show-suggestions {
        left: 230px;
    }
}

@media (min-width:1745px) {
    .show-suggestions {
        left: 250px;
    }
}

@media (min-width:1790px) {
    .show-suggestions {
        left: 270px;
    }
}

@media (min-width:1800px) {
    .show-suggestions {
        left: 290px;
    }
}

@media (min-width:1850px) {
    .show-suggestions {
        left: 300px;
    }
}

@media (min-width:1850px) {
    .show-suggestions {
        left: 320px;
    }
}

@media (min-width:1900px) {
    .show-suggestions {
        left: 340px;
    }
}

@media (max-width:992px) {
    .show-suggestions {
        left: 170px;
    }
}

@media (max-width:930px),
(max-width:860px) {
    .show-suggestions {
        left: 150px;
    }
}

@media (max-width:860px) {
    .show-suggestions {
        left: 100px;
    }
}

@media (max-width:768px) {
    .show-suggestions {
        left: 150px;
    }
}

@media (max-width:640px) {
    .show-suggestions {
        left: 90px;
    }
}

@media (max-width:576px) {
    .show-suggestions {
        left: 50px;
    }

    .msgdiv {
        top: 10px;
        right: 200px;
        padding: 6px 14px;
    }
}