/* this is for image css */

/* .hero-section {
    background-image: url('../IMG/gujarat-banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
} */


/* general css */

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* == starting heading css ==  */
.main-heading {
    background: linear-gradient(90deg, #ff7e00, #ff4500);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


/* folk-music css */
.section-title {
    color: #e67e22;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}


/* vibrant folk dance section css */
.folk-card {
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quote-box {
    background-color: #f9f9f9;
    border-left: 4px solid #e67e22;
    padding: 20px;
    margin: 30px 0;
    font-style: italic;
    color: black;
}

@media (max-width:768px) {
    .hero-section {
        padding: 50px 0;
        font-size: 1.2rem;
    }
}



/* mission-section css */

.mission-section {
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.logo-name h4 {
    color: orange;
}

/* contact-me css  */
.contact a {
    background-color: orange;
    color: white;
}

.contact a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.theme-mode a {
    cursor: pointer;
}