/* for media-querry in about page */

@media (max-width:1400px) {
    .image-card-2 img {
        height: 259px;
    }
}

@media (max-width:1200px) {
    .main-heading h2 {
        font-size: 24px;
        text-align: start;
    }

    .main-heading p {
        font-size: 14px;
        text-align: start;
    }

    .quote-box {
        width: 100%;
        font-size: 14px;
    }

    .card-body h5 {
        font-size: 16px;
    }

    .card-body p {
        font-size: 12px;
    }

    .image-card-2 img {
        height: 214.4px;
    }

    .image-card-2 {
        position: relative;
    }

    .card-body-2 {
        position: absolute;
        top: 62%;
    }

    .card-body-2 h5 {
        font-size: 16px;
    }

    .card-body-2 p {
        font-size: 12px;
    }

}

@media (max-width:993px) {
    .image-card {
        position: relative;
    }

    .image-card-2 img {
        height: 334px;
    }

    .card-body {
        position: absolute;
        top: 52%;
    }
}

@media (max-width:400px) {
    .quote-box {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    .mission-section p {
        font-size: 18px !important;
    }

    .logo-name {
        display: flex !important;
        padding-left: 4px !important;
    }
}

@media (max-width:768px) {
    .image-card {
        position: relative;
    }

    .card-body {
        position: absolute;
        top: 72%;
    }

    .image-card-2 img {
        height: 514px;
    }
}

@media (max-width:400px) {
    .image-card {
        position: relative;
    }

    .card-body {
        position: absolute;
        top: 60%;
    }

    .image-card-2 img {
        height: 369px;
    }

    .purpose-content span {
        font-size: 12px;
        text-align: center;
    }
}