:root {
    --orange: rgb(230, 126, 34);
}

body {
    background-color: rgba(0, 0, 0, 0.899);
}

/*  main heading css  */

.main-heading h2 {
    color: var(--orange);
}

/* folk-music css */
.section-title {
    color: var(--orange);
    border-bottom: 2px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.quote-box {
    border-left: 4px solid var(--orange);
    padding: 12px;
    margin: 18px 0;
}

@media (max-width:768px) {
    .hero-section {
        padding: 50px 0;
        font-size: 1.2rem;
    }
}

/* contact-me css  */
.contact a {
    background-color: var(--orange);
    color: var(--white);
}

.contact a:hover {
    background-color: white;
    color: var(--black);
    border: 1px solid black;
}

/* bhajan-santvani card css */

.image-card {
    position: relative;
}

.card-body {
    position: absolute;
    top: 53%;
}

.image-card-2 {
    position: relative;
}

.card-body-2 {
    position: absolute;
    top: 70%;
}