/* for media-querry in about page */
@media (max-width:1200px) {
    .main-heading h2 {
        font-size: 24px;
        text-align: start;
    }

    .main-heading h2 {
        font-size: 20px;
    }
}

@media (max-width:992px) {
    .welcome-section .welcome-quote {
        margin-top: 10px;
    }
}

@media (max-width:576px) {

    .main-heading p {
        font-size: 17px;
    }

    .my-purpose {
        align-items: start;
    }

    .purpose-modal {
        height: 200px;
        flex-direction: column;
    }

    .purpose-content span {
        font-size: 16px;
        text-align: center;
    }

    .purpose-content {
        overflow-y: auto;
    }

    .welcome-section .welcome-quote,
    .heading,
    .welcome-section .welocme-message {
        height: 20px;
    }
}

@media (max-width:768px) {
    .purpose-modal {
        width: 80%;
        max-height: 60vh;
    }

    .purpose-header {
        padding: 0.5rem;
    }

    .purpose-content p {
        font-size: 16px;
    }

    .welcome-section .welcome-quote,
    .heading,
    .welcome-section .welocme-message {
        margin-top: 10px;
        padding: 8px 12px 2px 12px;
        height: 120px;
    }

    .welcome-section .welcome-quote p,
    .heading p {
        margin-top: 2px;
    }

    .webinformation .weblink .webtags {
        height: 150px;
        background-color: wheat;
        padding: 12px;
        border-radius: 8px;
    }

    .webinformation .weblink {
        margin-top: 8px;
    }
}

@media (max-width:490px) {
    .purpose-modal {
        height: 300px;
    }
}