a {
    text-decoration: none;
    color: black;
    display: block;
}

button {
    border: none;
}

/* image-file css */
.useraccount_display {
    margin-top: 20px;
}

.uploadImg i,
#deleteimage {
    font-size: 20px;
}

/* user-image css */
.useraccount_display .account img {
    border-radius: 50%;
    height: 120px;
    width: 130px;
}

/* user account manage div */
.user-Data {
    border-radius: 10px;
    display: inline-block;
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.user-Data {
    margin-top: 10px;
}

.user-btn {
    /* t,r,b,l */
    margin: 10px 16px 10px 16px;
}

.user-Data .user-btn a:nth-child(2) {
    padding-top: 8px;
}

/* login_data css modal */
.open-modal {
    display: inline-block;
}

.login_data {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    backdrop-filter: blur(60px);
}

.modal-content {
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 360px;
    height: 500px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

.modal_data a {
    display: block;
    margin: 10px 0;
    color: #333;
    font-size: 16px;
}

/* image editable in updateProfile */
.useraccount .account {
    display: flex;
    justify-content: center;
}

/* icons of upload,delete img */
.useraccount .uploadImg,
#deleteimage {
    margin-left: 23px;
}

#deleteimage {
    cursor: pointer;
}

.useraccount form img {
    border-radius: 50%;
    height: 120px;
    width: 130px;
}

.changingimagescss {
    display: flex;
}