a {
    text-decoration: none;
}

/* image-file css */
.useraccount form input[type="file"] {
    display: none;
}

.useraccount form input[type="submit"] {
    margin-top: 14px;
    background: none;
    border: none;
}

.user-Data .user-btn a {
    color: white;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.479);
}

.user-Data {
    margin-top: 10px;
}

/* user-image css */
.useraccount .account img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}