a {
    text-decoration: none;
    color: black;
}

/* image-file css */
.useraccount form input[type="file"] {
    display: none;
}

.useraccount form input[type="submit"] {
    margin-top: 14px;
    background: none;
    border: none;
}

.user-Data {
    border-radius: 10px;
    display: inline-block;
    padding: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.user-Data {
    margin-top: 10px;
}

/* user-image css */
.useraccount .account img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.account .uploadImg,
#deleteimage {
    margin-left: 18px;
}

/* login_data css modal */
.open-modal {
    display: inline-block;
}

.login_data {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.modal-content {
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

.modal_data a {
    display: block;
    margin: 10px 0;
    color: #333;
    font-size: 16px;
}