:root {
    --white: rgb(255, 255, 255);
    --orange: rgb(255, 165, 0);
    --wheat: rgb(255, 228, 196);
    --wheat200: rgb(194, 150, 68);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --black500: rgba(0, 0, 0, 0.358);
    --gray: rgb(128, 128, 128);
    --blue: rgb(84, 84, 125);
    --blue50: rgb(15, 23, 43);
    --whitesmoke: rgb(245, 245, 245);
    --red: rgb(255, 0, 0);
    --kesri: rgb(239, 160, 14);
}

/* general css */

a,
button {
    cursor: pointer;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

/* theme-mode css */

.dark-mode {
    background-color: var(--black);
    color: var(--white) !important;
}


/*=== login form-css modal ===*/

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    height: auto;
    position: relative;
}

.email,
.password {
    padding: 12px 138px;
}

.submit {
    background-color: var(--gray);
    opacity: 0.69;
    border-radius: 10px;
    padding: 6px 140px;
}

#reset {
    padding: 2px 22px 2px;
    margin-left: 20px;
    background-color: var(--gray);
    border-radius: 7px;
}


#loginForm input[type="email"],
[type="password"] {
    /* border: none; */
    background: transparent;

}

/*modal close button css */

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: var(--red);
    cursor: pointer;
}

.close:hover {
    transition: 0.2s;
    width: 40px;
    height: 40px;
    background-color: var(--red);
    color: var(--wheat);
    border-radius: 5px;
    text-align: center;
    transform: rotate(90deg);
}

/* sidebar css */

.sidebar-collapse {
    width: 40px;
}


.sidebar {
    transition: width 0.3s ease;
    overflow: hidden;
}

.about-web a {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 5px 72px 5px 72px;
}

.about-web a:hover {
    background-color: var(--white);
}

.sidebar {
    height: 100vh;
    background-color: var(--kesri);
}

/*=== dropdown css of sidebar === */

.dropdown {
    width: 200px;
    border-radius: 5px;
}

.menu-item {
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.menu-item:hover {
    background-color: var(--white);
}

/* dropdown a tags */
#submenu {
    display: none;
    padding-left: 15px;
}

#submenu a {
    display: block;
    padding: 5px 9px;
    color: rgb(51, 51, 51);
    border-radius: 5px;
    margin: 4px 0;
    font-size: 18px;
}

#submenu a:hover {
    background: var(--whitesmoke);
    transition: 0.3s;
}

/* === charan history css === */

.history-charan {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 5px;
    border-radius: 5px;
}

.history-charan a {
    color: var(--black);
}

.history-charan:hover {
    background-color: var(--white);
}

/* user-info css */

.user-info .login-btn a {
    padding: 4px 8px 4px 8px;
    border-radius: 7px;
}

.user-info .login-btn a:hover {
    background-color: var(--white);
}

.user-info .account:hover {
    background-color: var(--white);
}

.user-info .account {
    padding: 2px 8px 2px 8px;
    border-radius: 7px;
    max-width: 100px;
    margin-top: 10px;
}


#toggleSidebar {
    border: none;
    background-color: var(--orange);
    color: var(--white);
}


/* about css */

.about-page {
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
}

.about-page:hover {
    background-color: var(--white);
}

.about-page a {
    margin-left: 40px;
}

.about-icon {
    margin-left: 20px;
}